{% extends 'BookRecommender/base.html' %} {% block title %}MyBookChoice{% endblock title %} {% block content %} <title>{{page_title}} </title>
<body id="page-top">
  <!-- Navigation-->
  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold"> {{detail_dict.title}}
            <br> has been added to your Reading List
          </h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-10">
          <img src="{{detail_dict.image}}" alt="" style='width:100%%;height:50%;'>
          <p class="text-white-75 mt-5">Return to the previous page</p>
          <button class="btn btn-success" onclick="goBack()">Go Back</button>
        </div>
      </div>
    </div>
  </header>
  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
      <div class="small text-center text-muted">MyBookChoice</div>
    </div>
  </footer>
</body>
<script>
  function goBack() {
    window.history.back();
  }
</script> {% endblock %}