{% extends 'BookRecommender/base.html' %}
{% block title %}MyBookChoice{% endblock title %}
{% block css %}
         body{
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
            }
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          width: 170px;
          height: 200px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top: 222px;
          }
        body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }

        .wrapper{

        margin-bottom:200px;
        }
        
        .card{
          aspect-ratio: 16 / 9;
          max-width: 100%;
 max-height: 100%;
        }


 {% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br><br>
<form action="" method="post">
  {% csrf_token %}
    <label for="team_name">Enter name: </label>
    <input name="fullname" method = "post" type="text" list="citylist" Placeholder="Search City.." class="form-control" style="width:300px;">
    <datalist id="citylist">
    {% for results in bookresults %}
         <option value="{{ results.title}}">
   {% endfor %}
   <input type="submit" value="OK">
    </datalist>
  </form>
<br><br><br><br><br><br><br><br><br><br>

<form action = "" method = "post">
  {% csrf_token %}
  {{form }}
</form>


 {% endblock %}