{% extends 'BookRecommender/base.html' %} {% block title %}MyBookChoice{% endblock title %} {% block content %} <title>{{page_title}} </title> {% load pwa %} {% progressive_web_app_meta %} <head> ... {% progressive_web_app_meta %} ... </head>
<body id="page-top">
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">Your favorite place to get Book Recommendations</h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-10">
          <p class="text-white-75 mb-5">Select in which way you wish to be recommended...</p>
          <a class="btn btn-primary btn-xl mb-2 mr-3" href="{% url 'title_recommend' %}">by book title</a>
          <a class="btn btn-primary btn-xl mb-2 mr-3" href="{% url 'all_categories' %}">top rated books <br> based on category </a>
          <a class="btn btn-primary btn-xl mb-2 mr-3" href="{% url 'plot_recommend' %}">by entering a plot</a>
        </div>
      </div>
    </div>
  </header>
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
      <div class="small text-center text-muted">MyBookChoice</div>
    </div>
  </footer>
</body> {% endblock %}