
{% extends "BookRecommender/base.html" %}
{% block content %}


<section class="page-section" >
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
              <h2 class="text-white font-weight-bold">Recommendation by other</h2>
              <hr class="divider" />
              <p class="text-white-75 mb-5">Just input ... <br> and get recommended right away!</p>
          </div>
      </div>
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-15 text-center">
          
          <form action="" method="post">
                {% csrf_token %}
                  <input type="text" name="booktitle" list="citylist" Placeholder="Search..." class="form-control text-muted" >
                  <datalist id="citylist">
              {% for results in showcity %}
                      <option value="{{ results.title}}">
              {% endfor %}
            </datalist>
            </form> 
        </div>
    </div>
    </section>
    <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">MyBookChoice</div>
      </div>
    </footer>

{%endblock%}
